@font-face {
  font-family: "MaplestoryBold";
  src: url("./font/MaplestoryBold.ttf");
}
@font-face {
  font-family: "MaplestoryLight";
  src: url("./font/MaplestoryLight.ttf");
}

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}

body {
  background-image: linear-gradient(
    to left top,
    #ff7f00,
    #ff6b32,
    #ff5b4d,
    #f75064,
    #e84b77,
    #d14c88,
    #b65194,
    #985599,
    #6f5895,
    #4b5687,
    #355171,
    #2f4858
  );
  padding: 0px;
  margin: 0px;
  text-shadow: 2px 2px 2px black;

  overflow: hidden;
}
@media (min-width: 1190px) {
  .App {
    width: 100vw;
  }
}

@media (max-width: 1190px) {
  .App {
    width: 1190px;
  }
}
/* App */
.App {
  display: flex;
  flex-direction: column;
  font-family: "MaplestoryLight";
  color: white;
  font-size: 18px;
  margin: auto;
  height: 100vh;
  white-space: pre-line;
}

.menubtn {
  display: flex;
}

.menubtn > div {
  flex: 1;
  text-align: center;
}

.article {
  flex: 1;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.intro {
  /* margin-left: 300px; */
  text-align: center;
  margin-top: 200px;
  font-size: 58px;
  line-height: 250%;
  width: 540px;
}
.source {
  margin-right: 50px;
  margin-bottom: 100px;
  text-align: right;
}

/* Skill */
.skill {
  height: 100%;
  margin: 0 200px;
}
.slider {
  margin: auto;
  height: 100%;
}
.slidercontent {
  height: 100%;
}

.slidercontenttitle {
  margin-top: 100px;
  font-size: 48px;
  animation: colorchange 100s linear 1s infinite alternate;
}

.slidercontentlist {
  display: flex;
  margin-top: 150px;
  font-size: 32px;
}

.skilltext {
  flex: 1;
  text-align: center;
  font-size: 10px;
  white-space: pre;
}
.skillimg {
  height: 150px;
  margin: auto;
  opacity: 0.4;
  animation: vibration 0.1s infinite;
}

.imgclick {
  height: 150px;
  margin: auto;
}

.skilltext > .title {
  font-size: 32px;
}
.skilltext > .desc {
  margin-top: 50px;
  font-size: 22px;
}

/* 가만히 있을 때 */
.skillimgbox {
  height: 250px;
}

/* 커서 올렸을 때 */
.skillimg:hover {
  opacity: 0.7;
}

/* 클릭 했을 때 */
.skillimg:active {
  opacity: 1;
  animation: 0;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

@keyframes colorchange {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

/* Project */
.project {
  height: 100%;
  margin: 0 200px;
}

.projectlist {
  height: 100%;
  display: flex !important;
  flex-direction: column;
}

.projectlist > div {
  flex: 1;
}

.imgsliderpic > img {
  margin: 60px auto;
  height: 300px;
}

.projectitemarticle {
  margin-bottom: 20px;
}
.projectitemarticle > div {
  width: 550px;
  margin: auto;
}

.headertitle {
  font-size: 18px;
  color: #ff7f00;
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: white;
}
.description {
  line-height: 140%;
}
.projectitem > p > div {
  font-size: 24px;
}

/* Footer */

.footer {
  display: flex;
  margin: 0 200px;
  font-size: 28px;
}
.footerarticle {
  flex: 1;
  margin-top: 300px;
  line-height: 150%;
}
.link {
  text-align: right;
  margin-top: 700px;
  flex: 1;
}

/* react-slick */
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: white !important;
}
.slick-list,
.slick-track,
.slick-slide > div,
.wtf {
  height: 100%;
}

.slick-prev:hover:before,
.slick-next:hover:before,
.slick-dots li button:hover:before {
  opacity: 1;
  color: #ff7f00 !important;
}

a:hover {
  color: #ff7f00;
}
div,
a {
  transition-property: color;
  transition-duration: 0.5s;
}

.menu {
  transition-property: background-color;
  transition-duration: 2s;
  background-color: #e84b77;
}
